<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <p>You got a new email from <%= @contact_form.name %>!</p>
        <p>
        Email details<br>
        ------------------------
        </p>
        <p>Name: <%= @contact_form.name %> </p>
        <p>Email: <%= @contact_form.email %> </p>
        <p>Phone Number: <%= @contact_form.phone_number %> </p>
        <p>
        Message:<br>
        ----------
        </p>
        <p> <%= @contact_form.reason %> </p>
    </body>
</html>